@import 'description.css';
@import 'elements.css';
@import 'search.css';
@import 'header.css';
@import 'results.css';
@import 'your-book.css';

.poppins-regular {
  font-family: 'Poppins', sans-serif;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Poppins';
  font-weight: 400;
  font-style: normal;
  height: 100%;
  width: 100%;
}




.hidden {
  display: none;

}


::-webkit-scrollbar {
  width: 8px;
  border-radius: 0.25rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

